body {
    background-color: #fcdae3;
    font-family: 'Playwrite AU SA', Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: opacity 1.5s ease-in-out; /* Aumenta o tempo da transição */
}

body.fade-out {
    opacity: 0; /* Define opacidade para 0 quando a classe fade-out é adicionada */
}

header {
    text-align: center; 
}

header img {
    max-width: 100px; 
}

main {
    flex: 1;
    text-align: center; 
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    left: 0;
}

footer p {
    margin: 5px 0;
}

footer .styled-link {
    margin-top: 10px; /* Adiciona espaçamento acima dos links */
    display: inline-block; /* Garante que o margin-top funcione */
}

/* Estilos para o overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fcdae3;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1.5s ease-in-out; /* Aumenta o tempo da transição */
    z-index: 1000;
}

.overlay img {
    max-width: 200px;
}

.overlay.hide {
    opacity: 0;
}

.styled-link {
    background-color: rgb(231, 185, 217); 
    color: white; 
    padding: 5px 10px; 
    border-radius: 5px; 
    text-decoration: none; 
}

.styled-link:hover {
    background-color: rgb(235, 156, 211); 
}